
.nav {
    font-family: Arial, sans-serif;
    background-color: #ddfcd1;
    color: black;
    width: calc(100vw + 10px);
    height: clamp(60px, 10vw, 100px);
    display: flex;
    align-items: center;
    transform: translate(-10px, -10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    position: fixed;
    padding-left: clamp(20px, 2vw, 1500px);
}
.nav ul {
    list-style-type: none;
    font-size: clamp(1rem, 2.5vw, 2rem);
    margin: 0;
    padding: 0;
    display: flex;
    direction: row;
    gap: clamp(10px, 4vw, 1500px);
    margin-left: clamp(10px, 5vw, 1500px);
    width: 100%;
    text-align: center;
    align-items: center;
}
.nav ul li {
    display: inline;
    color: black;
    transition: color 0.2s, transform 0.1s;
}
.nav ul li:hover {
    cursor: pointer;
    color: rgb(241, 168, 71);
    transform: scale(1.1);
}
.logo {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    color: black;
    margin: 0;
}
.vertical-line {
    border-left: 0.1vw solid black;
    height: clamp(20px, 5vw, 50px);
    margin: 0 10px;
}
.active-tab {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(241, 168, 71) !important;
}