section {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    padding: 5px;
    padding-top: calc(80px + 5vw)
}
.profile-header {
    font-size: clamp(3rem, 4vw, 5rem);
    color: rgb(241, 168, 71);
    margin-bottom: 15%;
    margin-top: 0px;
}
img {
    width: clamp(40%, 30vw, 50%);
    height: 60%;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 10px;
    border: 0.3vw solid rgb(243, 197, 137);
    cursor: not-allowed;
}
.name {
    font-size: clamp(28px, 3vw, 64px);
    font-weight: bold;
    color: rgb(241, 168, 71);
    margin: 0;
    margin-bottom: clamp(15px, 2vw, 50px);
}
.description {
    font-size: clamp(15px, 2.5vw, 40px);
    color: rgb(241, 168, 71);;
    margin: 5px 0 0 0;
}